
<div class="one-user">
   <%# <span class="vatch"><%= image_tag 'gold.png' %></span> 
   <div class="circle-avatar">
      <%=image_tag  user.avatar.to_s %>
    </div>
    <span class="veg"><%= veg_choice(user) %></span>
</div>