<div class="post">
  <div class="post-left">
    <div class="post-circle-avatar">
      <%=image_tag  comment.user.avatar.to_s %>
    </div>
  </div>
  <div class="post-right">
    <p><%= comment.text %></p>


  </div>
</div>
