<div class="user-index">

  <div class="contents row" id='posts-contents'>
    <% @posts.each do |post| %>
      <tr id="post_<%= post.id %>">
        <%= render partial: "post", locals: { post: post } %>
      </tr>
    <% end %>
  </div>

  <%= link_to(new_post_path, class: 'post-btn') do %>
    <span><%= image_tag 'post.png', class: "post-btn-icon" %></span>
  <% end %>

</div>

